<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
  <div id="container">
  {{>logo}}{{>menu}}
    
      <div class="container">
              <form class="form">
                <input type="text"/ placeholder="City Name">
                <input type="submit" value="Search">
              
              </form>

              <p id="messageOne"></p>
              <p id="messageTwo"></p>
  
      </div>
    {{>footer}}
   </div>
   <script src="script.js"></script> 
</body>
</html>