<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
  <div id="container">
    {{>logo}}{{>menu}}
    <div class="servicesPage">
      <div class="container">
        <div class="col_3">
          <img class="service_img"src="/images/Integration.png"/>
          <h1>API/Interfaces</h1>
        <p>It all begins with an idea for automating your workflow and business processes through the power of technology. We understand that the right solution to improve your organization’s efficiency and effectiveness may need to be customized to meet your exact needs. We specialize in  customization, automation and versatility for our various law enforcement, criminal justice and healthcare  partners. Let us help build the right interfaces to increase communication and information sharing.
          </p> 
        </div>
        <div class="col_3">
          <img class="service_img" src="/images/Data Conversion.png"/>
          <h1>Data Migration/ETL</h1>
        <p>Our data conversion and interface developers are industry professionals with real-world experience. With over 75 data conversion projects for agencies across the US, our team’s expertise includes full-spectrum domain knowledge of data/file migration and ETL services for case management, law enforcement, healthcare and public works software implementations. We have extensive experience converting/migrating data from various legacy and obsolete platforms. 
          </p>
        </div>
        <div class="col_3">
          <img class="service_img" src="/images/ProjectManagement.png"/>
          <h1>On Time, On Budget</h1>
        <p>We pride ourselves in being a hands-on development company catering to our clients’ needs. Through a deep collaborative discovery process, we help to define, design and develop a plan and timeline for successful Go Live. We understand that development and project management done right can be both a strength and an advantage. Each project is tailored to reflect our unwavering commitment to excellence and quality service. We can help you to re-imagine what a true development partner can do.
        </p>
        </div>

        
      </div>
    </div>
    {{>footer}}
  </div>
</body>
</html>