<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
  <div id="container">
    {{>logo}}{{>menu}}
    <div class="servicesPage">
      <div class="container">
       This site is for getting current weather conditions using mapbox.com and another weather service I cannot remember.

        
      </div>
    </div>
    {{>footer}}
  </div>
</body>
</html>