<div class="footer">
        <div id="logo_footer">
          <img src="/images/bitlinksolutions_logo_transparent.png" />
        </div>
        <div id="footer_info">
          Weather app brought to you by Phill and udemy course
        </div>

      </div>
      