<div id='menu'>

  <div class='nav-item'>
    <a href='/' id='bitlinkHome'>
      Home
    </a>
  </div>
  <div class='nav-item'>
    <a href='/weather' id='services'>
      Weather
    </a>
  </div>
  <div class='nav-item'>
    <a href='/services' id='services'>
      services
    </a>
  </div>

  {{! <div class="nav-item">
      <a href="/cart" id="cart"><img src="/images/shopingCart.png"></a>
    </div> }}
</div>