<div id="menu">
    
    
    <div class="nav-item">
      <a href="/index" id="bitlinkHome">
        Bit Link Home
      </a>
    </div>
        <div class="nav-item">
      <a href="/pricing" id="pricing">
        Pricing
      </a>
    </div>
    {{!-- <div class="nav-item">
      <a href="/team" id="ourTeam">
        Our Team
      </a>
    </div> --}}
    <div class="nav-item">
      <a href="/contact" id="contactUs">
       Contact Us
      </a>
    </div>
    <div class="nav-item">
      <a href="/login">Log-In</a>
    </div>
    {{!-- <div class="nav-item">
      <a href="/cart" id="cart"><img src="/images/shopingCart.png"></a>
    </div> --}}
</div>